.DS_Store
.AppleDouble
.LSOverride

logs
*.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

node_modules
.vscode
index.html
docs/.nojekyll
temporary
